html { font-size: 22px; }
body { padding: 1rem; }

.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.cards {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) and (max-width: 950px){
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1000px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
}

